@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import "tailwindcss";

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@layer utilities {
  .bg-custom-gradient {
    @apply bg-gradient-to-b from-gray-900 via-black to-gray-900;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  overflow-x: hidden;
}